<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404: Page not found</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bulma.min.css') }}">
</head>

<body>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-spaced">
                404 &mdash; You seem lost
            </h1>
            <h2 class="subtitle">
                Go back where it's <a href="/">safe</a>!
            </h2>
        </div>
    </div>
</section>

</body>

