<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InterPro - Protein sequence classification</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bulma.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section id="hero" class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">


            <div class="column">
                <div class="column">
                    <h1 class="title">
                        InterPro
                    </h1>
                    <h2 class="subtitle">
                        Protein sequence classification
                    </h2>
                    <div class="field has-addons">
                        <p class="control">
                            <input id="search-input" class="input" type="text" placeholder="Search InterPro" value="">
                        </p>
                        <p class="control">
                            <button id="search-button" class="button">
                                <span class="icon is-small">
                                    <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                </span>
                            </button>
                        </p>
                    </div>
                    <p class="help">
                        Examples: <a href="/entry/IPR020405/">IPR020405</a>, <a href="/signature/PF02171/">PF02171</a>, <a href="/search?q=GO:0006915">GO:0006915</a>, <a href="/protein/P51587">P51587</a>
                    </p>

                </div>
            </div>


        </div>

    </div>
</section>

<div id="loader" class="modal">
    <div class="modal-background"></div>
    <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
    <span class="sr-only">Loading&hellip;</span>
</div>

<section id="error" class="section">
    <div class="container">
        <div class="message is-danger">
            <div class="message-header"></div>
            <div class="message-body"></div>
        </div>
    </div>
</section>


<section id="entry" class="section">
    <div class="container">
        <h1 class="title"></h1>
        <h2 class="subtitle"></h2>

        <div class="box">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">UniProtKB Matches</p>
                        <p id="protein-count" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Type</p>
                        <p id="entry-type" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Signatures</p>
                        <a href="#signatures" id="signature-count" class="title"></a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">GO terms</p>
                        <a href="#go" id="go-count" class="title"></a>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">References</p>
                        <a href="#references" id="reference-count" class="title"></a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="columns">
            <div class="column is-3">
                <div class="box">
                    <aside id="menu" class="menu">
                        <ul class="menu-list">
                            <li><a href="#curation" class="is-active">Curation</a></li>
                            <li><a href="#description">Description</a></li>
                            <li><a href="#signatures" >Signatures</a></li>
                            <li><a href="#relationships" >Relationships</a></li>
                            <li><a href="#go" >GO terms</a></li>
                            <li><a href="#references" >References</a></li>
                        </ul>
                    </aside>
                </div>

            </div>
            <div class="column">
                <div id="warning" class="message is-warning">
                    <div class="message-header"></div>
                    <div class="message-body"></div>
                </div>
                <h3 id="curation" class="title">Curation</h3>
                <div id="curation-content" class="content">
                    <dl>
                        <dt>Public website</dt>
                        <dd>
                            <a target="_blank" data-href-entry="http://www.ebi.ac.uk/interpro/entry/">Entry&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                        </dd>
                        <dt>Happy Helper</dt>
                        <dd>
                            {#<a target="_blank" data-href-entry="http://www.ebi.ac.uk/internal-tools/openSQL/view/interpro/curation/home.jelly?/interpro/curation/matchviews/matches.jelly?entry=">Matches&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>#}
                            <a target="_blank" data-href-signatures="http://www.ebi.ac.uk/internal-tools/openSQL/view,account:happy-helper-ippro-load/interpro/curation/comparisons/compare-signature-protein-description.jelly?db=S&features=">Descriptions&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                        </dd>

                        <dt>Talisman</dt>
                        <dd class="left">
                            <div class="level-left">
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_commabs/annot_entry.xml&url=ipro&ac=">Abstract&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_interpro2go/interpro2go.xml&url=IPRO&ac=">InterPro2GO&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_entry/merge.xml&url=IPRO&ac=">Merge&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_reference/ref_manager.xml&url=IPRO&ac=">References&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_entry/new_relation.xml&url=IPRO&ac=">Relationship&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                <div class="level-item">
                                    <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_entry/split2.xml&url=IPRO&ac=">Split&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>
                                </div>
                                {#                                    <div class="level-item">#}
                                {#                                        <a target="_blank" data-href-entry="http://www.ebi.ac.uk/talisman/Create?page=ipr_commabs/annot_block.xml&url=ipro&ac=">Common annotations&nbsp;<span class="icon is-small"><i class="fa fa-external-link"></i></span></a>#}
                                {#                                    </div>#}
                            </div>
                        </dd>
                    </dl>
                </div>

                <hr>

                <h3 id="description" class="title">Description</h3>
                <div id="description-content" class="content"></div>

                <hr>

                <h3 id="signatures" class="title">Signatures</h3>
                <div class="content">
                    <table class="table is-bordered is-striped">
                        <thead>
                        <tr>
                            <th>Member database</th>
                            <th>Accession</th>
                            <th>Name</th>
                            <th>Protein count</th>
                            <th>Prediction</th>
                        </tr>
                        </thead>
                        <tbody id="signatures-content"></tbody>

                    </table>
                </div>

                <hr>

                <h3 id="relationships" class="title">InterPro relationships</h3>
                <div id="relationships-content" class="content"></div>

                <hr>

                <h3 id="go" class="title">GO terms</h3>
                <div id="go-content" class="content">
                </div>

                <hr>

                <h3 id="references" class="title">References</h3>
                <div id="references-content" class="content"></div>

                <h4 class="title">Supplementary references</h4>
                <div id="suppl-references" class="content">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="entries" class="section">
    <div class="container">
        <h1 class="title"></h1>
        <h2 class="subtitle"></h2>

        <table class="table">
            <thead>
            <tr>
                <th>Entry</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</section>

<section id="protein" class="section">
    <div class="container">
        <div class="box">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Accession</p>
                        <p id="protein-id" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Name</p>
                        <p id="protein-name" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Organism</p>
                        <p id="protein-organism" class="title"></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Length</p>
                        <p id="protein-length" class="title"></p>
                    </div>
                </div>
            </nav>
        </div>

        <h3 class="title">Detailed signature matches</h3>
        <div id="matches" class="content">
        </div>

        <h3 class="title">Structural features and predictions</h3>
        <div id="struct-matches" class="content">
        </div>
    </div>
</section>

<div id="tooltip">
    <p class="title is-5"></p>
    <p class="subtitle is-6"></p>
    <p></p>
</div>

<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    {% if entry_ac %}
        var entryAc = "{{ entry_ac }}";
    {%  else %}
        var entryAc = null;
    {% endif %}

    {% if method_ac %}
        var methodAc = "{{ method_ac }}";
    {%  else %}
        var methodAc = null;
    {% endif %}

    {% if protein_ac %}
        var proteinAc = "{{ protein_ac }}";
    {%  else %}
        var proteinAc = null;
    {% endif %}

    {% if search %}
        var search = "{{ search }}";
    {%  else %}
        var search = null;
    {% endif %}

    {% if happy_helper_root %}
        var happyHelperRoot = "{{ happy_helper_root }}";
    {% else %}
        var happyHelperRoot = null;
    {% endif %}
</script>
</body>
</html>